<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>فرم ورد</title>
</head>
<body>
    <h2> لطفا فیلد ها رو تکمیل کن: </h2>

    <form action="/welcome" method="post">
        <input type="text" name="username" placeholder="نام شما">
        <input type="email" name="email" placeholder="ایمیل شما">
        <input type="number" name="age" placeholder="سن">
        <textarea name="message" placeholder="پیام شما" rows="4" cols="30"></textarea>
        <button type="submit">ارسال</button>

    </form>
</body>
</html>